<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/user_form.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body class="body">

<div id="header"></div>

<div class="main">
    <div id="registrationForm"></div>
</div>

<div id="footer"></div>

<script type="module" src="/js/common/header.js"></script>
<script type="module" src="/js/form/registration_form.js"></script>
<script type="module" src="/js/common/footer.js"></script>

</body>
</html>