body {
    font-size: 18px;
}
/*header*/
/**/

.header {
    width: 100%;
    height: 45px;
    /*border-bottom: 2px solid black;*/
}

.header, .footer {
    background-color: rgba(0, 0, 0, 0.75);
}

.header a {
    text-decoration: none;
}

.header-content {
    margin: auto;
    width: 1000px;
    height: 40px;
}

.header-app-name {
    height: 40px;
    float: left;
}

.header-app-name:hover {
    color: #70B5FF;
}

.header-middle {
    height: 40px;
    float: left;
    width: 587px;
}

.header-profile {
    float: left;
    height: 40px;
    min-width: 150px;
}

.header-profile-img {
    float: left;
    margin-top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.header-profile-name {
    min-width: 100px;
    max-width: 180px;
    height: 30px;
    float: left;
    padding-top: 10px;
    margin-left: 8px;
    color: white;
    font-size: 18px;
}

.header-profile-name:hover {
    color: #70B5FF;
}

.header-middle-item {
    border-left: 1px solid #656573;
    float: left;
    display: block;
    padding-top: 11px;
    padding-left: 10px;
    height: 29px;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    align-content: center;
}

.header-middle-item:first-child {
    margin-left: 100px;
}

.header-middle-item:hover {
    color: #70B5FF;
}

/*main content*/
/**/

.main {
    width: 1050px;
    height: 800px;
    margin: 50px auto 250px auto;
}

/*footer*/
/**/

.footer {
    /*border-top: 2px solid black;*/
    width: 100%;
    height: 110px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-content {
    margin: auto;
    width: 1000px;
}

.footer-up {
    height: 60px;
}

.footer-up-item {
    float: left;
    width: 156px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
}

.footer-up-item:hover {
    color: #70B5FF;
}

.footer-down {
    margin-top: 10px;
    height: 30px;
}

.footer-down-text {
    text-align: center;
    padding-top: 10px;
    color: #BBBBBB;
    font-size: 17px;
}

.error {
    font-size: 18px;
    min-height: 30px;
    margin-bottom: 3px;
    color: red;
}

.notification {
    font-size: 18px;
    min-height: 30px;
    margin-bottom: 3px;
    color: green;
}
