
.main {
    width: 900px;
}

.ticket-search-result {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 15px 60px 25px 60px;
    border: 1px solid #888888;
    border-radius: 6px;
}

.ticket-search-result-caption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

.user-info {
    margin: 10px 0;
}

.user-info-line {
    height: 35px;
}

